.contacts {
  background-image: url('../images/content/reviews-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.contacts__form-title {
  margin-bottom: 90px;

  @include laptop {
    margin-bottom: 60px;
    text-align: center;
  }

  @include phones {
    font-size: 26px;
  }
}