.iconend-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: $links-color;

  &:hover {
    text-decoration: underline;
  }
}

.iconend-link__icon {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  fill: $links-color;
}