.reviews-slider__list {
  display: flex;
}

.reviews-slider__content {
  width: 330px;
}

.reviews-slider__text {
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews-slider__user {
  display: flex;
}

.reviews-slider__user-img {
  margin-right: 30px;
  width: 70px;
  height: 70px;
}

.reviews-slider__user-name {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: $sec-text-color;
}
