.section-welcome {
  padding: 60px 0px 270px 0px;
  background-image: url('../images/content/section-welcom-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
