.section-welcome {
  padding-bottom: 270px;
  background-image: url('../images/content/section-welcom-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @include desktop {
    padding-bottom: 0;
  }
}
