.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 80px;

  @include phones {
    margin-bottom: 30px;
  }
}

.user__desc {
  width: 100%;
}

.user__desc-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user__key {
  width: 50%;
}

.user__value {
  width: 50%;
  color: $sec-text-color;
}