.user-min {
  display: flex;
  align-items: center;
}

.user-min__avatar {
  margin-right: 30px;
}

.user-min__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.user-min__name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  color: $sec-text-color;
}